@import "module/filepond.css";


@import "element/card.css";
@import "element/loading.css";

@import "field/gallery.css";
@import "field/media.css";

@import "block/modal-library.css";

body.is-scroll {
    overflow: hidden;
}

.l-media-modal {
    width: 1200px;
    height: 700px;
    background-color: #f1f0ef;
    padding: 20px;
    border-radius: 16px;
    overflow-y: scroll;
    position: relative;
}

.l-media-field-choice-file-interface {
    border: 1px solid var(--form-input-border-color);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;

    .l-media-preview {
        position: relative;

        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            border-radius: 8px;
            background-color: #f1f0ef;
        }
    }
}

.l-media-list {

    .l-media-list-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        min-height: 300px;

        .l-media-item {
            width: 100%;
            background-color: #f5f5f5;
            border-radius: 8px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                aspect-ratio: 1;
                padding: 0;
            }

            .l-media-actions {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                z-index: 100;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease 0s;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.5);

                .btn {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    border: 0;
                    box-shadow: none;
                }

                .btn--select {
                    font-family: 'Font Awesome\ 6 Free';
                    font-weight: 700;

                    &:before {
                        content: "\f00c";
                    }
                }

                .btn--remove {
                    font-family: 'Font Awesome\ 6 Free';

                    &:before {
                        content: "\f2ed";
                    }
                }
            }

            &:hover {
                .l-media-actions {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .l-media-list-total {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .l-media-list-pagination {
        margin-top: 30px;
        text-align: center;
    }
}

body.ea-dark-scheme {
    .l-media-modal {
        background-color: #1e1e1e;
    }

    .l-media-field-choice-file-interface {
        border: 1px solid #2d2d2d;
        background-color: #2d2d2d;
    }

    .l-media-list {
        .l-media-list-wrapper {
            .l-media-item {
                background-color: #2d2d2d;
            }
        }
    }
}

.actionRemoveMedia {
    border: 0;
    padding: 0;
    background-color: transparent;
    margin: 0;
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
    line-height: 1;
    font-size: 20px;
}

.small-loading {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 100;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath fill='%23000' d='M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    opacity: 0;
    visibility: hidden;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}